  *{
    box-sizing: border-box;
  }
  * {
    font-family:cursive;
  }

  body{
      margin: 0;
  }

  
  .logo-set {
    color: rgb(15, 97, 129);
    background-color: light-grey;
    margin: 16px
  }

  .search {
    width: 25%;
  }

  .search input{
    width: 80%;
  }
  
  .main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 8;
    background-color: white;
  }

  .main {
     padding-top: 70px;
      display:flex;
      flex-direction: row;
      padding-left: 200px;
      width: 100vw;
 }

 .flex-row{
     display: flex;
     flex-direction: row;
 }
 
 .flex-col{
     display: flex;
     flex-direction: column;
 }

 .side-bar{
    position: fixed;
    top: 70px;
    height: calc(100% - 70px);
    left: 0;
     display: flex;
     width: 200px;
     background-color: lightgrey;
     justify-content: space-between;
     padding: 8px 2px;
     z-index: 1;
     flex-shrink: 0;
 }

 .top-readers{
    list-style: none;
    justify-content: left;
    padding: 4px 8px;
    overflow-y: auto;
 }
 li{
    margin: 8px 0;
    padding: 4px;
    border-radius: 4px;
  }

  em{
    margin: 0 15px;
  }

 .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }


  .social-bar{
      border: solid 1px white;
      background-color: darkgray;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      margin: 4px;
      padding: 0 24px;
     
  }

  .social-bar > h3 {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  .social-links{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }
 
  .social-links > i {
    font-size: 24px;
    margin: 8px;
  }
  .nav-wrapper{
    display: flex;
    width: 100%;
    height: 40px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
  }

 .nav-tabs{
  min-height: 60px;
  margin: 0 auto;
  padding: 0 4px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.nav-button{
  min-height: 40px;
  border-radius: 24px;
  margin: 0 4px;
 
}
  
  .userSettingsBtn {
    text-align: center;
    margin: 4px 2px;
    border-radius: 50%;
  }
  .dropdown {
    
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 60px;
    left: calc(100vw - 170px);
  }
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  .photo-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-gap: 10px;
    justify-content: center;
  }

  .photo-item img {
      width: 320px;
      height: 240px;
      border-radius: 4px;
  }
  .photo-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
  }
  .photo-item h3{
    flex-shrink: 0;
    margin: 0;
  }

  .image-wrapper{
    width: 100%;
    flex-grow: 1;
    position: relative;
  }
.image-wrapper i{
 display: block;
 width: 40px;
 height: 40px;
 position: absolute;
 margin: auto;
 top: calc(50% - 20px);
 left: calc(50% - 20px);
 font-size: 40px;
 line-height: 1;
 color: white;
 opacity: 0;

} 

.photo-item:hover .image-wrapper i{
  opacity: 1;
  transition-property: all;
  transition: 0.3 linear 5;
  
}
.image-wrapper .overlay{
 width: 100%;
 height: 100%;
 position: absolute;
 margin: auto;
 top: 0;
 left: 0;
 background-color: rgba(0, 0, 0, 0);

}
.photo-item:hover .image-wrapper .overlay{
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition: 0.3 linear 5;
  
}
  .video-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-gap: 10px;
    justify-content: center;
  }

  .video-item video {
    width: 320px;
    height: 240px;
    border-radius: 4px;
}

  .video-gallery-text{
    color: rgb(15, 97, 129);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self:center;
  }

  .wrapper{
      flex-grow: 1;
      width: 100%;
  }

  .container {
    padding: 10px;
    flex-grow: 1;
  }
  
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:lightskyblue;
    color:white;
    text-align: center;
  }
  
  /* all hover effects grouped here*/
  i:hover, .search-button:hover {
    color: skyblue;
    cursor: pointer;
  }

  .search input:hover{
    border:solid skyblue 1px;
  }

  .nav-button:hover, .top-readers li:hover {
    background-color: skyblue;
    cursor: pointer;
  }

   /* On screens that are 1200px wide or less */
@media screen and (max-width: 1200px) {
  .side-bar {
    width: 115px;
    overflow: hidden;
  }
  .side-bar em {
      display: none;
  }
  .side-bar i {
      display: none;
  }
  .main {
    padding-left: 115px;
  }
  .search input {
    width: 50%;
  }
}
 
 
  
 